.navBar{
    width: 100vw;
    background-color: #1F2421;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    


}

.logo{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #80CE9C;
    margin: 20px;
}

.navMenu ul {
    display: flex;
    justify-content: space-around;
}

.navMenu ul li{
    list-style-type: none;
    color: #80CE9C;
    padding-right: 25px;
}