.App {
  text-align: center;
  background-color: #171a18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.App-header p{
  font-size: 2rem;
  color:#80CE9C;

}

.container{
  margin-top: 10vh;
}

.container div{
  display: flex;
  justify-content: space-around;
}
