.App {
  text-align: center;
  background-color: #171a18;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoXl{
  margin-top: 50px;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: #80CE9C;
}

.App-header p{
  font-size: 2rem;
  color:#80CE9C;

}